html,
body {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

.center {
  text-align: center;
}

.w-max {
  width: 100%;
}

.github_ribbon img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

@media (max-width: 992px) {
  .show_pc {
    display: none;
  }
}

@media (min-width: 992px) {
  .show_smp {
    display: none;
  }
}
