html[data-page='home'] {
  .card-columns {
    margin-top: 10px;
  }

  .card.pinned {
    margin-top: 10px;
  }

  a.card_link {
    color: initial;
    text-decoration: none;
  }

  .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list {
    .btn {
      margin-top: 10px;
    }
  }
}
