.progress {
  height: 4px;
  margin-bottom: 10px;
  background: transparent;

  .pg-main {
    width: 20%;
  }

  .bg-transparent {
    animation: pg-transparent 2s ease-in-out infinite;
  }
}

@keyframes pg-transparent {
  0% {
    width: 0;
  }

  50% {
    width: 80%;
  }

  100% {
    width: 0;
  }
}

.now_loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
